<link rel="stylesheet" href="/css/partials/account-sidebar.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />



<aside class="sidebar">
    <nav>
        <ul>

            <li>
                <a href="/Profile" class="sidebar-link active">
                <i class="fa-regular fa-user"></i>
                <span>Profile</span>
                </a>
            </li>

            <li>
                <i class="fa-solid fa-bag-shopping"></i>
                Orders
            </li>

            <li>
                <i class="fa-solid fa-box"></i>
                My Products
            </li>

            <li>
                <i class="fa-regular fa-heart"></i>
                Wishlist
            </li>

            <li>
                <a href="/address" class="sidebar-link active">
                <i class="fa-solid fa-location-dot"></i>
                <span>Address</span>
                </a>
            </li>

            <li>
                <a href="/reset-password" class="sidebar-link active">
                    <i class="fa-solid fa-key"></i>
                    <span>Password</span>
                </a>
            </li>


            <li>
                <i class="fa-solid fa-wallet"></i>
                Wallet
            </li>

            <li>
                 <a href="/logout" class="sidebar-link active">
                <i class="fa-solid fa-right-from-bracket"></i>
               <span>Logout</span>
                 </a>
            </li>
        </ul>
    </nav>
</aside>