<link rel="stylesheet" href="/css/partials/navbar.css">

<header class="main-header">

    <div class="logo-section">
        <img src="/images/ICON.png" alt="Kala Vinci Logo">
        <div style="font-weight: 800; font-size: 18px; color: #333;">
            KALA VINCI
        </div>
    </div>

    <nav class="nav-links">
        <a href="/" class="nav-item">Home</a>

        <a href="#" class="nav-item">
            Categories
            <i class="fa-solid fa-chevron-down" style="font-size:10px;"></i>
        </a>

        <a href="#" class="nav-item">
            Artists
            <i class="fa-solid fa-chevron-down" style="font-size:10px;"></i>
        </a>

        <a href="#" class="nav-item">About</a>
        <a href="#" class="nav-item">Contact</a>
    </nav>

    <div class="header-tools">
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search products">
        </div>

        <a href="#" class="nav-item">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>

         <a href="/profile" class="nav-item">
            <i class="fa-solid fa-user-circle"></i>
        </a>
    </div>

</header>
