<!-- Reset Password CSS -->
<link rel="stylesheet" href="/css/user/reset-password.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />


<%- include('../partials/header', { title: 'Reset Password | Kala Vinci' }) %>

    <section class="breadcrumb-section">
        <h1>Reset Password</h1>
        <div class="breadcrumb-nav">
            KALA VINCI <span>></span> Reset Password
        </div>
    </section>

    <main>
        <div class="form-container">
            <form method="POST" action="/reset-password">
                <div class="form-group password-group">
                    <label for="new-password">New password</label>

                    <input type="password" name="password" id="new-password" placeholder="New password" />

                    <span class="toggle-password" data-target="new-password">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>

                <div class="form-group password-group">
                    <label for="confirm-password">Confirm password</label>

                    <input type="password" name="confirmPassword" id="confirm-password"
                        placeholder="Confirm password" />

                    <span class="toggle-password" data-target="confirm-password">
                        <i class="fa-solid fa-eye"></i>
                    </span>
                </div>


                <button type="submit" class="reset-btn">
                    Reset password
                </button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>

    <script>
  document.querySelectorAll(".toggle-password").forEach(toggle => {
    const inputId = toggle.getAttribute("data-target");
    const input = document.getElementById(inputId);
    const icon = toggle.querySelector("i");

    toggle.addEventListener("click", () => {
      const isHidden = input.type === "password";

      input.type = isHidden ? "text" : "password";
      icon.classList.toggle("fa-eye");
      icon.classList.toggle("fa-eye-slash");
    });
  });
</script>
