
.main-footer {
    border-top: 1px solid #fbf7f7;
    padding: 60px 5% 40px;
     background-color: #fbf7f7;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.5fr;
    gap: 40px;
}

.footer-brand img {
    height: 60px;
    margin-bottom: 20px;
}

.footer-brand p {
    font-size: 13px;
    color: #666666;
    margin-bottom: 25px;
}

.social-links {
    display: flex;
    gap: 15px;
    font-size: 18px;
    color: #666666;
}

.footer-col h4 {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.1em;
    margin-bottom: 25px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 12px;
}

.footer-col a {
    font-size: 13px;
    color: #666666;
    text-decoration: none;
}

.footer-col a:hover {
    color: #333333;
}

.payment-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.payment-icons img {
    height: 18px;
    opacity: 0.8;
}

.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #E5E7EB;
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #6B7280;
}




@media (max-width: 992px) {
    .footer-grid {
        grid-template-columns: 1fr 1fr;
    }
}
